
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    text-align: center;
 }
#mainContainor{
    width: 70%;
    margin: auto;
}

/* header */
header{
    position: relative;
    background-color: rgb(76, 101, 191);
    color: white;
    height: 300px;
}
#headerPicture{
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    width: 40%;
}
#picContainer{
    position: relative;
}
#picButton{
    color: white;
    font-size: 5px;
    padding: 2px 3px;
    background-color: rgb(76, 101, 191);
    border: 1px solid rgb(76, 101, 191);
    border-radius: 15px;
    position: absolute;
    right: 15%;
    top: 10px;
}
#headerText{
    position: absolute;
    top: 60px;
    left: 25%;
    right: 45%;
    text-align: left;
}
#headerText b{
    position: absolute;
    bottom: 200px;
}
h1{
    font-size: 20px;
    font-weight: 100;
}
#headerText h1 em {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#headerText p i{
    text-align: left;
    margin: 4px;
    margin-top: 20px;
}

/*white section */
#whiteSection{
    background-color: white;
    padding: 25px 200px;
}
#whiteSection p{
    font-size: 12px;
    color: #9e9e9e;
}
nav{
    display: flex;
    justify-content: space-between;
}
#whiteSection nav i{
    text-align: left;
    margin: 30px;
    color:rgb(82, 25, 136);
}
h4{
    color: black;
    font-size: 8px;
    margin-top: 25px;
}
#whiteSection nav i p{
    font-size: 8px;
}


#lightGreySection{
    background-color: #f8f8f8;
}
#myBestWork{
    padding: 25px 250px;
    color: #9e9e9e;
}
#myBestWork h2{
    font-family: cursive;
    color: black;
}


/* images area */
#images{
    width: 470px;
    height: 310px;
    margin: auto;
    position: relative;
}
#images .large{
    width: 150px;
    height: 200px;
    position: absolute;
}
#images .small{
    width: 150px;
    height: 100px;
    position: absolute;
}
img{
    width: 100%;
    height: 100%;
}
div#first{
    top: 0;
    left: 0;
}
div#second{
    top: 0;
    left: 160px;
}
div#third{
    top: 0;
    right: 0;
}
div#forth{
    bottom: 0;
    left: 0;
}
div#fifth{
    bottom: 0;
    left: 160px;
}
div#sixth{
    bottom: 0;
    right: 0;
}
.container .middle{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}
#images .container .middle .text{
    position: absolute;
    left: 16px;
    top: 16px;
    color: white;
    line-height: 1px;
    text-align: left;
}
.container:hover img{
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 0.6;
}

/* blue area */
#blueBar{
    color: white;
    background-color: rgb(76, 101, 191);
    padding: 25px 250px; 
    margin-top: 25px;
}
#dots{
    font-size: 5px;
    color: #858eaf;
}
.selected{
    color: white;
}
#dots i{
    margin: 1px;
}


/* table area */
#tableArea{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 24px;
}
#bottomLine{
    border-bottom: 1px solid #efefef;
}
table{
    width: 60%;
    border-collapse: collapse;
}
td{
    height: 40px;
    border-right: 1px solid #efefef;
}


/* comments area */
#letsTalk{
    padding: 15px 300px;
    color: #9e9e9e;
}
h3{
    font-family: cursive;
    font-size: 12px;
    color: black;
}
#form{
    width: 380px;
    height: 180px;
    box-sizing: border-box;
    margin:  10px auto 25px;
    position: relative;
}
input[type="text"], input[type="email"] {
    width: 185px;
    height: 26px;
    box-sizing: border-box;
    padding: 2px;
    margin-bottom: 10px;
    opacity: 0.3;
}
input[type="text"]{
    position: absolute;
    top: 0;
    left: 0;
}
input[type="email"]{
    position: absolute;
    top: 0;
    right: 0;
}
textarea{
    width: 380px;
    height: 120px;
    box-sizing: border-box;
    margin: 10px 0;
    opacity: 0.3;
}
input[type="submit"] {
    font-size: 5px;
    width: 55px;
    height: 14px;
    box-sizing: border-box;
    margin-top: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgb(76, 101, 191);
    border: 1px rgb(76, 101, 191) solid;
    border-radius: 12px;
    padding: 2px;
    opacity: 1;
  } 
::placeholder{
    font-size: 5px;
}






