
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    text-align: center;
 }
#mainContainor{
    width: 70%;
    margin: auto;
}

/* header */
header{
    position: relative;
    background-color: mediumblue;
    color: white;
    height: 300px;
}
#headerPicture{
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    width: 40%;
}
#picContainer{
    position: relative;
}
#picButton{
    color: white;
    font-size: 5px;
    padding: 2px 3px;
    background-color: mediumblue;
    border: 1px solid mediumblue;
    border-radius: 15px;
    position: absolute;
    right: 15%;
    top: 10px;
}
#headerText{
    position: absolute;
    top: 70px;
    left: 25%;
    right: 45%;
    text-align: left;
}
#headerText b{
    position: absolute;
    bottom: 230px;
}
h1{
    font-size: 26px;
    font-weight: 100;
}
#headerText h1 em {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#headerText p i{
    text-align: left;
    margin: 4px;
    margin-top: 20px;
}

/*white section */
#whiteSection{
    background-color: white;
    padding: 25px 200px;
}
#whiteSection p{
    font-size: 12px;
    color: #727581;
}
nav{
    display: flex;
    justify-content: space-between;
}
#whiteSection nav i{
    text-align: left;
    margin: 35px;
    color:rgb(82, 25, 136);
}
h4{
    color: black;
    font-size: 8px;
    margin-top: 25px;
}
#whiteSection nav i p{
    font-size: 8px;
}


#lightGreySection{
    background-color: #f3f3f3;
}
#myBestWork{
    padding: 25px 250px;
}
#myBestWork h2{
    font-family: cursive;
}


/* images area */
#images{
    width: 470px;
    height: 310px;
    margin: auto;
    position: relative;
}
#images .large{
    width: 150px;
    height: 200px;
    position: absolute;
}
#images .small{
    width: 150px;
    height: 100px;
    position: absolute;
}
img{
    width: 100%;
    height: 100%;
}
div#first{
    top: 0;
    left: 0;
}
div#second{
    top: 0;
    left: 160px;
}
div#third{
    top: 0;
    right: 0;
}
div#forth{
    bottom: 0;
    left: 0;
}
div#fifth{
    bottom: 0;
    left: 160px;
}
div#sixth{
    bottom: 0;
    right: 0;
}
.container .middle{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}
#images .container .middle .text{
    position: absolute;
    left: 16px;
    top: 16px;
    color: white;
    line-height: 1px;
    text-align: left;
}
.container:hover img{
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 0.6;
}

/* blue area */
#blueBar{
    color: white;
    background-color: mediumblue;
    padding: 25px 250px; 
    margin-top: 25px;
}
#dots{
    font-size: 5px;
    color: #858eaf;
}
#dots i{
    margin: 1px;
}


/* table area */
#tableArea{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 24px;
}
#bottomLine{
    border-bottom: 1px solid #efefef;
}
table{
    width: 60%;
    border-collapse: collapse;
}
td{
    height: 40px;
    border-right: 1px solid #efefef;
}


/* comments area */
#commentsArea{
    padding: 15px 250px;
}
h3{
    font-family: cursive;
    font-size: 12px;
}
form{
    /*padding: 25px 200px;*/
    width: 380px;
    height: 180px;
    margin: 25px auto;
    position: relative;
}
input[type="text"], input[type="email"] {
    width: 180px;
    padding: 2px;
    border-width: 1px;
    margin-bottom: 8px;
    opacity: 0.3;
}
input[type="text"]{
    position: absolute;
    top: 0;
    left: 0;
}
input[type="email"]{
    position: absolute;
    top: 0;
    right: 0;
}
textarea{
    width: 374px;
    height: 125px;
    margin: 8px 0;
    opacity: 0.3;
}
input[type="submit"] {
    font-size: 5px;
    width: 65px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: blue;
    border: 1px blue solid;
    border-radius: 12px;
    padding: 2px;
    opacity: 1;
  } 
::placeholder{
    font-size: 5px;
}






